/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;

}

@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSansJp-Regular.woff2') format('woff2');
	src: url('../fonts/NotoSansJp-Regular.woff') format('.woff');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Syncopate';
	src: url('../fonts/Syncopate-Bold.woff2') format('woff2');
	src: url('../fonts/Syncopate-Bold.woff') format('woff');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-VariableFont_wght.woff2') format('woff2');
	src: url('../fonts/Urbanist-VariableFont_wght.woff') format('woff');
	font-weight: 100 900;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#1d384a;
	--color-text-alt: #FAFFFF;
	--color-heading-aigis:rgb(229, 0, 0);
	--color-background:#eee;
	--color-heading-aigis-h2: #3F1D1D;
	--color-background-aigis: #FFE5E5;
	--color-background-section:#dce9f5; 
	--color-background-section-2: #C0D5E8;
	--color-background-aigis-alt: #FFF0F0;
	--color-sees-characters: rgba(91, 164, 215, 100)
	--font-NotoSans: 'NotoSans', Sans-serif;
	--font-Syncopate: 'Syncopate', Sans-serif;
	--font-Urbanist: 'Urbanist', Sans-serif;
	--font-MinionPro: "minion-pro-condensed-display", serif;
}





/****************/
/* JOUW STYLING */
/****************/



header {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

header video {
	position: absolute;
	top: 0;
	z-index: -1;
	object-fit: fill;
}

header h1  {
	font-family: var(--font-MinionPro);
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	margin-bottom: 0;
	color: var(--color-text);

}

header h2 {
	font-family: var(--font-MinionPro);
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	margin-top: 0;
	color: var(--color-text);
}

nav button {
	border: none;
	display: flex;
	flex-direction: column;
	font-family: var(--font-Urbanist);
	color: var(--color-text-alt);
	padding: 1em 0em 1.5em 1.5em;
	background-color: transparent;
	position: fixed;
	right: 0;
	top: .05em;
	z-index: 2;
	align-items: center;

}

nav button svg {
    width: 48px;
    height: 39px;

}

nav button svg line {
    transition: transform 0.3s ease, opacity 0.3s ease;
	transform-origin: center center; 
}

nav button.toonX svg line:nth-child(1) {
    transform: translateY(-4px) rotate(-45deg); 
}

nav button.toonX svg line:nth-child(2) {
    opacity: 0; 
}

nav button.toonX svg line:nth-child(3) {
    transform: translateY(4px) rotate(45deg);

}


nav > img {
	position: fixed;
	top: 0;
	right: 0;
	width: 6.5em;
	height: 7em;
}




nav ul { 
	position: fixed;
	top: 0em;
  	transform: translateX(50em) translateY(0%);
  	transition :translate .3s;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap:2em;
	
}

nav ul li {
	font-family: var(--font-Urbanist);
	font-weight: 800;
	padding-right: 1em;
	font-size: 1.5em;
}

nav ul li:first-of-type {
	margin-top: 5em;
}

nav.toonMenu ul {
	top: 0;
	transform: translateX(0%) translateY(0%);
	width: 100%;
	height: 100%;
	filter: blur(0px);
	background-color: rgba(176, 221, 250, .32);
	z-index: 1;
	backdrop-filter: blur(25px);
}

header section {
	padding-left: 2em;
	padding-top: 2.5em;
}

header section img {
	max-width: 5em;
}

header section p {
	display: flex;
}

header > img:last-of-type {
	display: none;
}

main p {
	opacity: 0;
}

main h2 {
	font-family: var(--font-MinionPro);
	font-weight: 400;
	font-size: 3.5em;
	color: var(--color-text);
}


main a:nth-child(1) {
	width: 100vw;
	height: 8em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, minmax(0,1fr));
	justify-content: center;
	align-items: center;
	background-color: #dce9f5;
	text-align: center;
	overflow: hidden;
}

main a:nth-child(1) p {
	grid-row: 2;
	grid-column: 2;
	font-family: var(--font-Syncopate);
	font-weight: 800;
}

main iframe:first-of-type {
	width: 100vw;
 	height: calc(100vw/1.77); /* width math genomen van internet omdat met iframes het best lastig was zoiets te doen */
	pointer-events: none;
	filter: grayscale(100%);
	z-index: -1;
	grid-column-start: 1;
	grid-column-end: -1;
	
}

main a:first-of-type:hover {
 background-color: transparent;
 transition: 2s;
}

main iframe:first-of-type:hover {
	display: unset;
}


main .buyNow {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .buyNow h2 {
	margin-bottom: .7em;
	margin-top: .5em;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
	
}

.animatie {
	animation: fadeInUp 1s linear ;
	opacity: 1;
}



main p {
	font-family: var(--font-Urbanist);
	font-weight: 500;
	color: var(--color-text);
	font-size: .6em;
}

main section a { 
	text-decoration: none;
	color: var(--color-text-alt);
	border-radius: 55px;
	background: linear-gradient(90deg, #0071B8 0%, #002DB9 100%);
	font-size: 1.1em;
	padding: .5em 1em .5em 2em;
	font-family: var(--font-Urbanist);
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	gap: 1em;
	margin-bottom: .5em;
	margin-top: .5em;
}

main .buyNow a svg {
	margin-top: .1em;
}

main .buyNow p {
	margin-bottom: 5em;
}

main .DLC {
	background-color: var(--color-background-section);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
}

main .DLC p {
	font-family: var(--font-Urbanist);
	font-weight: 500;
	color: var(--color-text);
	font-size: .6em;
	margin-bottom: 2em;
}

main .DLC h2 {
	margin-top: .2em;
}

main .DLC a {
	margin-top: 1em;
	margin-bottom: 5em;
	font-size: .8em;
	padding: .7em 1em .7em 2em;
}

main .featuresGame {
	background-color: var(--color-background-section-2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .featuresGame article {
	background-color: var(--color-background-section-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 2em;
	padding-right: 2em;
	margin-bottom: 2em;
}

main .featuresGame article img {
	padding-left: 2em;
	padding-right: 2em;
}

main .featuresGame article p {
	margin-top: 2em;
	line-height: 2
}
main .featuresGame article a {
	letter-spacing: unset;
	font-size: .8em;
}

main .flavorText {
	background-color: var(--color-background-section-2);
	text-align: center;
}

main .flavorText p:nth-of-type(3){
	margin-bottom: 3em;
}


main .flavorText h2 {
	font-size: 7em;
	margin: 0;
	padding-top: .2em;
	-webkit-text-stroke: .2px rgba(0, 0, 0, 0.3);
	color: transparent;
	line-height: .7;
	overflow-y: hidden;
	border: solid;
}

.seesCharacters {
	background-color: rgba(91, 164, 215, 100);
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.seesCharacters p:first-of-type {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}


.seesCharacters article {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 100%;
	max-height: 100%;
	margin-left: 3em;
	margin-right: 3em;
	overflow: hidden;
	margin-top: 3em;
	margin-bottom: 2em;

	
}

.seesCharacters article img {
	grid-column-start: 1;
	grid-column-end: 4;
	width: 100%;
}



.seesCharacters article h3 {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	writing-mode: vertical-lr;
	display: inline;
	grid-column: 4;
	grid-row: 1;
	margin-left: .2em;
	display: inline;
}

.seesCharacters article h3:after {
	content: url('../images/arrow.svg');
	margin-top: .3em;
}

.seesCharacters h2 {
	font-size: 8em;
	color: var(--color-text-alt);
}


.stregaCharacters {
	background-color: rgba(147, 204, 150, 100);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stregaCharacters p{
	max-width: 80%;
	text-align: center;
	margin-bottom: 1em;
}

.stregaCharacters article h3 {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	writing-mode: vertical-lr;
	display: inline;
	grid-column: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	margin-left: .2em;
}

.stregaCharacters svg {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	writing-mode: vertical-lr;
	display: inline;
	grid-column: 4;
	grid-row-start: 3;
	margin-top: 1em;
	margin-left: .2em;
}

.stregaCharacters h2 {
	font-size: 7em;
	color: var(--color-text-alt);
}


.stregaCharacters article {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 100%;
	max-height: 100%;
	margin-left: 3em;
	margin-right: 3em;
	overflow: hidden;
	margin-top: 3em;
	margin-bottom: 2em;

	
}

.stregaCharacters article h3:after {
	content: url('../images/arrow.svg');
	margin-top: .3em;
}

.stregaCharacters article img {
	grid-column-start: 1;
	grid-column-end: 4;
	width: 100%;
}

footer .logosGame ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
	

}

footer .logosGame {
	border-top: 1px solid #dce7ed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



footer .logosGame ul img {
	margin-right: 2em;
	width: 4em;
	justify-content: center;
}

footer .logosGame p {
	max-width: 80%;
	font-family: var(--font-Urbanist);
	font-size: .5em;
	margin-bottom: 0;
}

footer .logosGame p:first-of-type {
	margin-top: 1em;
}

footer .logosGame p:last-of-type {
	margin-bottom: 2em;
}


footer .logosGame p img {
	width: 3em;
}

footer .logosGame p img:first-of-type {
	width: 1em;
}

.logosGame ul:last-of-type {
	display: flex;
	align-items: center;
}

.logosGame ul:last-of-type img:nth-of-type(1) {
	width: 2.5em;
}



footer .specs  { 
	display: flex;
	flex-wrap: wrap;
	margin: 0 3em 0 3em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 1em;
	margin-bottom: 2em;
}

footer .specs img:first-of-type { 
	margin: 0 auto;
	height: 4em;
	margin-bottom: 3em;
	margin-top: 3em;
	grid-column-start: 2;
	grid-column-end: 4;
}

footer .specs h3 { 
	font-family: var(--font-Syncopate);
	font-size: .6em;
}

footer .specs h3:first-of-type {
	width: 100%;
	margin-bottom: 2em;
	grid-column-start: 1;
	grid-row: 1;
	align-self: flex-end;

}

footer .specs h3:nth-of-type(2){
	grid-row: 3;
	margin-bottom: .5em;
}

footer .specs h3:nth-of-type(3){
	grid-row: 3;
	grid-column-start: 3;
}


footer .specs ul:first-of-type {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1em;
	grid-row: 2;
	grid-column-start: 1;
	grid-column-end: 5;
	margin-bottom: 1em;
}


footer .specs img:nth-of-type(2) {
	grid-row: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	width: 1em;
	align-self: center;
}

.specs img:nth-of-type(3) {
	grid-row: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: end;
	align-self: center;
	width: 1em;
}

.specs ul:nth-of-type(2) {
	grid-row: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	
}

footer .specs li {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	margin-bottom: 1em;
	font-size: .5em;
}

.specs ul:nth-of-type(2) li {
	margin-bottom: .3em;
	margin-top: .2em;
}

.expansionHeader {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden; 
	display: flex; 
    justify-content: center; 
    align-items: center; 
}

.expansionHeader video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.expansionHeader img:nth-of-type(1) {
	width: 15%;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: .5em;
	margin-top: .5em;
}


.expansionHeader img:nth-of-type(2) {
    z-index: 2; 
	width: 60%;
}

.expansionHeader nav {
	display: none;
}

header p {
	position: absolute;
	bottom: 4em;
	right: .9em;
	font-family: var(--font-Syncopate);
	color: var(--color-text-alt);
	font-size: .6em;
}


header figure {
	position: absolute;
	bottom: 1em;
	right: 1em;
	background-color: transparent;
	width: 25px;
	height: 40px;
	overflow: hidden;

}


@keyframes pathmove {
	0% {
		height: 0;
		top: 15px;
		opacity: 0;
	}
	10% {
		height: 60px;
		opacity: 1;
	}
	100% {
		height: 0;
		top: 65px;
		opacity: 0;
	}
	}
	

header figure:before {
	content: '';
	position: absolute;
	bottom: 1em;
	right: 1em;
	background:#FAFFFF;
	animation: pathmove 1.4s linear infinite;
	z-index: 2;
	width: 1px;
}

.intro {
	background-color: var(--color-background-aigis);
}



.intro h1 {
	font-family: var(--font-Urbanist);
	color: var(--color-heading-aigis);
	display: inline;
	display: flex;
	justify-content: center;
	text-align: center;
	max-width: 56%;
	margin: 0 auto;
	font-size: 2em;
}

.intro > img:first-of-type {
	display: block;
	margin: 1em auto;
	height: 2em;
}

.intro > p:nth-of-type(2) {
	margin: 0 auto;
	width: 85%;
	text-align: center;
}

.intro p {
	line-height: 2;
	margin-bottom: .5em;
	margin-top: .5em;
	color: var(--color-heading-aigis-h2);
}

.intro article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 80%;
	align-items: center;
	margin: 0 auto;
}

.intro h2 {
	text-align: center;
	font-size: 3em;
	color: var(--color-heading-aigis-h2);
}

.intro article img {
	text-align: center;
	display: block;
}


.intro > p:first-of-type {
	font-family: var(--font-Urbanist);
	font-weight: 900;
	color: var(--color-heading-aigis);
	font-size: .8em;
	display: inline;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.intro a { 
	text-decoration: none;
	color: var(--color-text-alt);
	border-radius: 55px;
	background: linear-gradient(90deg, #FC3434 0%, #CE0202 100%);
	font-size: .8em;
	padding: .5em 1em .5em 2em;
	font-family: var(--font-Urbanist);
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	gap: 1em;
	margin-bottom: 3em;
	
}

.intro article:first-of-type {
	overflow: hidden;
}

.aigisCharacters {
	background-color: var(--color-background-aigis)
}

.aigisCharacters article::before {
	content: "";
    background: #fff0f0;
	position: absolute;
	left: 0;
    width: 100%;
    height: 6em;
	margin-top: 2em;

}

.aigisCharacters > h2 {
	display: flex;
	justify-content: center;
	color: var(--color-heading-aigis-h2);
}

.aigisCharacters article h2, .aigisCharacters p:first-of-type {
	writing-mode: vertical-lr;
	display: inline;
	z-index: 1;
}

.aigisCharacters article img:first-of-type {
	width: 130%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
	padding-left: 3em;
	z-index: 1;
}



.aigisCharacters article {
	display: grid;
	grid-template-columns: repeat(4, auto);
	max-width: 85%;
	margin: auto;
	overflow-y: hidden;
	margin-top: 3em;
	margin-bottom: 3em;
}

.aigisCharacters p:first-of-type {
	grid-column: 1;
	grid-row: 1;
	justify-self: end;
	margin-top: 1em;
	color: var(--color-heading-aigis-h2);
}

.aigisCharacters article h2 {
	grid-column: 1;
	grid-row: 1;
	color: var(--color-heading-aigis-h2);
}

.aigisCharacters p:nth-of-type(2) {
	grid-row: 2;
	grid-column: 1;
	justify-self: center;
	font-family: var(--font-Urbanist);
	font-weight: 700;
	font-size: 1.2em;
	color: var(--color-heading-aigis-h2);
	align-self: center;
}

.aigisCharacters p:nth-of-type(3) {
	grid-column-start: 2;
	grid-column-end: 5;
	align-self: center;
	color: var(--color-heading-aigis-h2);
}

.aigisCharacters p:nth-of-type(4) {
	grid-column-start: 1;
	grid-column-end: -1;
	margin-top: .5em;
	line-height: 2;
	margin-bottom: .5em;
	color: var(--color-heading-aigis-h2);
}

.aigisCharacters article img:nth-of-type(2) {
	grid-row: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	width: 100%;
	height: 100%;
	margin-bottom: .5em;
	
}

.aigisCharacters article img:nth-of-type(3) {
	grid-row: 4;
	grid-column-start: 3;
	grid-column-end: 5;
	width: 100%;
	height: 100%;
	margin-left: .5em;
	margin-bottom: .5em;
	
}

.aigisCharacters article img:nth-of-type(4) {
	grid-row: 5;
	grid-column-start: 1;
	grid-column-end: 3;
	width: 100%;
	height: 100%;
	margin-top: .5em;
	
}

.aigisCharacters article img:nth-of-type(5) {
	grid-row: 5;
	grid-column-start: 3;
	grid-column-end: 5;
	width: 100%;
	height: 100%;
	margin-left: .5em;
	margin-top: .5em;
	
}


.expansionpassInhoud {
	background-color: var(--color-background-aigis-alt);
	display: flex;
	flex-direction: column;
	padding: 2em;
}



.expansionpassInhoud h3 {
	color: var(--color-heading-aigis-h2);
	font-family: var(--font-Urbanist);
	text-align: center;
	width: 13em;
	margin: auto;
}

.expansionpassInhoud h3:nth-of-type(2) {
	color: var(--color-heading-aigis);
	margin-bottom: 3em;
}

.expansionpassInhoud > p:nth-of-type(1) {
	text-align: center;
	line-height: 2;
	width: 25em;
	margin: auto;
	margin-bottom: 5em;
}

.expansionpassInhoud > p:nth-of-type(2), .expansionpassInhoud > p:nth-of-type(4), .expansionpassInhoud > p:nth-of-type(6) {
	border: solid 1px var(--color-heading-aigis-h2);
	background-color: var(--color-heading-aigis-h2);
	color: var(--color-background-aigis);
	display: inline;
	font-size: .8em;
	font-family: var(--font-Urbanist);
	font-weight: 500;
	letter-spacing: .2em;
	margin: 0 auto;
	padding: 0 .5em 0 .5em;
}

.expansionpassInhoud > p:nth-of-type(3), .expansionpassInhoud > p:nth-of-type(5), .expansionpassInhoud > p:nth-of-type(7) {
	font-family: var(--font-MinionPro);
	font-size: 2em;
	color: var(--color-heading-aigis-h2);
	margin: 0 auto;
	z-index: 1;
}

.expansionpassInhoud > p:nth-of-type(3)::before, .expansionpassInhoud > p:nth-of-type(5)::before, .expansionpassInhoud > p:nth-of-type(7)::before {
	content: " ";
	width: 2.7em;
	height: 1px;
	background-color: var(--color-heading-aigis-h2);
	position: absolute;
	margin-top: .6em;
	left: 1em;
}

.expansionpassInhoud > p:nth-of-type(3)::after, .expansionpassInhoud > p:nth-of-type(5)::after, .expansionpassInhoud > p:nth-of-type(7)::after {
	content: " ";
	width: 2.7em;
	height: 1px;
	background-color: var(--color-heading-aigis-h2);
	position: absolute;
	margin-top: .6em;
	right: 1em;
}

.expansionpassInhoud h2 {
	font-size: 4em;
	margin: 0;
	padding-top: .2em;
	padding-bottom: .5em;
	-webkit-text-stroke: .5px rgba(0, 0, 0, 0.3);
	color: transparent;
	line-height: .7;
	overflow-y: hidden;
	border: solid;
	text-align: right;
}


.expansionpassInhoud article {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	margin-bottom: 2em;
}

.expansionpassInhoud  article h3 {
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: -1;
	margin-bottom: 1em;
}

.expansionpassInhoud  article p {
	grid-row: 2;
	grid-column: 1;
	align-self: center;
	font-family: var(--font-Urbanist);
	font-weight: 900;
	color: var(--color-heading-aigis-h2);
	justify-self: center;
}

.expansionpassInhoud article ul {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column: 2 / 4;
	grid-gap: .5em;
	border-left: solid var(--color-heading-aigis-h2) 1px;
	padding-left: 1.5em;
}


.expansionpassInhoud article ul {
	list-style-position: inside;
}

.expansionpassInhoud article ul li {
	font-family: var(--font-Urbanist);
	color: var(--color-heading-aigis-h2);
	font-size: .6em;
	font-weight: 500;
}


.expansionpassInhoud article ul li::marker {
	content: "♪   ";
	color: var(--color-heading-aigis-h2);
	margin: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

.expansionpassInhoud article:nth-of-type(3) img {
	grid-column: 1 / -1;
	justify-self: stretch;
	grid-row: 2;
	

}

.expansionpassInhoud article:nth-of-type(3) p {
	grid-column: 1;
	grid-row: 3;

}

.expansionpassInhoud article:nth-of-type(3) ul {
	grid-column: 2;
	grid-column-end: -1;
	grid-row: 3;
	display: unset;

}

.expansionpassInhoud article:nth-of-type(3) ul li {
	margin-bottom: 1em;

}

.expansionpassInhoud article:nth-of-type(4) h3 {
	grid-column: 1 / -1;
	grid-row: 1;
	margin-bottom: 0;
	margin-top: 2em;
}


.expansionpassInhoud article:nth-of-type(4) img {
	grid-column: 1 / -1;
	grid-row: 2;
	justify-self: stretch;

}

.expansionpassInhoud article:nth-of-type(4) p:first-of-type {
	grid-column: 1 / -1;
	grid-row: 3;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	line-height: 2;
}

.expansionpassInhoud article:nth-of-type(4) p:nth-of-type(2) {
	grid-column: 1;
	grid-row: 4;
}

.buyNowAigis {
	background-color: var(--color-background-aigis);
	display: grid;
	grid-template-columns: repeat(2, auto);
	padding: 1em;
}

.buyNowAigis h2 {
	color: var(--color-heading-aigis-h2);
	font-size: 2.5em;
	margin-bottom: 1em;
	grid-row: 1;
	grid-column: 1 / -1;
	justify-self: center;
}

.buyNowAigis h3:first-of-type {
	color: var(--color-heading-aigis);
	font-family: var(--font-Urbanist);
	margin-bottom: 1em;
	grid-row: 2;
	grid-column: 1 / -1;
	justify-self: center;

}

.buyNowAigis p {
	color: var(--color-heading-aigis-h2);
	font-family: var(--font-Urbanist);
}

.buyNowAigis p:first-of-type {
	border: solid var(--color-heading-aigis-h2) 1px;
	display: inline;
	font-weight: 800;
	padding: .2em;
	justify-self: end;
	align-self: center;
	font-size: .5em;
}


.buyNowAigis h3:nth-of-type(2) {
	font-family: var(--font-Urbanist);
	font-weight: 800;
	color: var(--color-heading-aigis-h2);
}

.buyNowAigis p:nth-of-type(2) {
	grid-row: 4;
	grid-column: 1 / -1;
	justify-self: center;
	font-weight: 800;
	margin-bottom: 2em;
	margin-top: 1em;
	
}

.buyNowAigis p:nth-of-type(3) {
	grid-row: 6;
	grid-column: 1 / -1;
	justify-self: center;
	margin-bottom: 3em;
}

.buyNowAigis a {
	grid-row: 5;
	grid-column: 1 / -1;
	justify-self: center;
    border-radius: 55px;
	background: linear-gradient(90deg, #FC3434 0%, #CE0202 100%);
    font-size: .6em;
    padding: .5em 1em .5em 1em;
    font-family: var(--font-Urbanist);
    font-weight: 600;
    gap: 1em;
	margin-top: .5em;
	letter-spacing: 1px;
}

.waarschuwing {
	background-color: var(--color-background-section);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em;
}

.waarschuwing > img:first-of-type {
	width: 2em;
}

.waarschuwing p {
	font-family: var(--font-Urbanist);
	font-weight: 800;
	text-align: center;
}


.waarschuwing a {
	display: flex;
	align-items: center;
	max-width: 20em;
    border-radius: 55px;
    font-size: .5em;
    padding: .5em 1em .5em 1em;
    font-family: var(--font-Urbanist);
    font-weight: 600;
	margin-top: .5em;
	letter-spacing: 0px;
	margin-top: 2em;
	text-align: center;
}

.waarschuwing a img{
	width: 7em;
}

.rodeTrailer {
	background-color: var(--color-background-aigis-alt) 
}

dialog[open] { 
	background-color: var(--color-background-aigis);
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	margin: 0 auto;
	margin-top: 15em;
	padding-left: 1em;
	padding-right: 1em;
	border: solid 1px;
	
}

@media (min-width:38em) {
	
	nav > img {
		display: none;
	}

	nav button {
	  display:none;
	}
	
	nav ul {
	  position:static;
	  transform: unset;
	  
	  padding:0;
	  background:none;

	  display: flex;
	  flex-direction: unset;
	  justify-content: space-between
	}
	
	nav li {
	  flex-basis:unset;
	  flex-grow:unset;
	}

	
	nav ul li:first-of-type {
	margin-top: 0em;
	}

  }

  @media (prefers-color-scheme: dark) {
	:root {
	--color-text:#11202b;
	--color-text-alt: #FAFFFF;
	--color-heading-aigis:rgb(78, 0, 0);
	--color-background:#c6c6c6;
	--color-heading-aigis-h2: #3F1D1D;
	--color-background-aigis: #6f5757;
	--color-background-section:#2b2d30; 
	--color-background-section-2: #31363a;
	--color-background-aigis-alt: #2c2828;
	}
  }

  @media (prefers-reduced-motion) {

	header > img:last-of-type {
		display: initial;
	}

	header video {
		display: none;
	}

	p { 
		opacity: 1;
	}

	.animatie { 
		animation: fadeInUp 0s linear ;
	}
  }
  
