/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;

}

@font-face {
	font-family: 'NotoSans';
	src: url('./fonts/NotoSansJp-Regular.woff2') format('woff2');
	src: url('./fonts/NotoSansJp-Regular.woff') format('.woff');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Syncopate';
	src: url('./fonts/Syncopate-Bold.woff2') format('woff2');
	src: url('./fonts/Syncopate-Bold.woff') format('woff');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Urbanist';
	src: url('./fonts/Urbanist-VariableFont_wght.woff2') format('woff2');
	src: url('./fonts/Urbanist-VariableFont_wght.woff') format('woff1');
	font-weight: 100 900;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#1d384a;
	--color-text-alt: #FAFFFF;
	--color-background:#eee;
	--color-background-section:#dce9f5; 
	--color-background-section-2: #C0D5E8;
	--font-NotoSans: 'NotoSans', Sans-serif;
	--font-Syncopate: 'Syncopate', Sans-serif;
	--font-Urbanist: 'Urbanist', Sans-serif;
	--font-MinionPro: "minion-pro-condensed-display", serif;
}





/****************/
/* JOUW STYLING */
/****************/

header {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

header video {
	position: absolute;
	top: 0;
	z-index: -1;
}

header h1  {
	font-family: var(--font-MinionPro);
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	margin-bottom: 0;
	color: var(--color-text);

}

header h2 {
	font-family: var(--font-MinionPro);
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	margin-top: 0;
	color: var(--color-text);
}

nav button {
	border: none;
	display: flex;
	flex-direction: column;
	font-family: var(--font-Urbanist);
	color: var(--color-text-alt);
	padding: 1.5em 0.8em 1.5em 1.5em;
	background-color: transparent;
	position: fixed;
	right: 0;
	top: .05em;
	z-index: 2;
	
}

nav button img {
	margin-bottom: .5em;
}

nav > img {
	position: fixed;
	top: 0;
	right: 0;
	width: 6.5em;
	height: 7em;
}

nav.toonMenu button img {
	content: url('../images/kruis.svg');
}


nav ul { 
	position: fixed;
	top: 0em;
  	transform: translateX(50em) translateY(0%);
  	transition :translate .3s;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap:2em;
	
}

nav ul li {
	font-family: var(--font-Urbanist);
	font-weight: 800;
	padding-right: 1em;
	font-size: 1.5em;
}

nav ul li:first-of-type {
	margin-top: 5em;
}

nav.toonMenu ul {
	top: 0;
	transform: translateX(0em) translateY(0%);
	width: 100%;
	height: 100%;
	filter: blur(0px);
	background-color: rgba(176, 221, 250, .32);
	z-index: 1;
	backdrop-filter: blur(5px);
}

header section {
	padding-left: 2em;
	padding-top: 2.5em;
}

header section img {
	max-width: 5em;
}

header section p {
	display: flex;
}

main h2 {
	font-family: var(--font-MinionPro);
	font-weight: 400;
	font-size: 3.5em;
	color: var(--color-text);
}


main a:nth-child(1) {
	width: 100vw;
	height: 8em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, minmax(0,1fr));
	justify-content: center;
	align-items: center;
	background-color: #dce9f5;
	text-align: center;
	overflow: hidden;
}

main a:nth-child(1) p {
	grid-row: 2;
	grid-column: 2;
	font-family: var(--font-Syncopate);
	font-weight: 800;
}

main iframe:first-of-type {
	width: 100vw;
 	height: calc(100vw/1.77); /* width math genomen van internet omdat met iframes het best lastig was zoiets te doen */
	pointer-events: none;
	filter: grayscale(100%);
	z-index: -1;
	grid-column-start: 1;
	grid-column-end: -1;
	
}

main a:first-of-type:hover {
 background-color: transparent;
 transition: 2s;
}

main iframe:first-of-type:hover {
	display: unset;
}


main .buyNow {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .buyNow h2 {
	margin-bottom: .7em;
	margin-top: .5em;
}

main p {
	font-family: var(--font-Urbanist);
	font-weight: 500;
	color: var(--color-text);
	font-size: .6em;
}

main section a { 
	text-decoration: none;
	color: var(--color-text-alt);
	border-radius: 55px;
	background: linear-gradient(90deg, #0071B8 0%, #002DB9 100%);
	font-size: 1.1em;
	padding: .5em 1em .5em 2em;
	font-family: var(--font-Urbanist);
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	gap: 1em;
	margin-bottom: .5em;
}

main .buyNow a svg {
	margin-top: .1em;
}

main .buyNow p {
	margin-bottom: 5em;
}

main .DLC {
	background-color: var(--color-background-section);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
}

main .DLC p {
	font-family: var(--font-Urbanist);
	font-weight: 500;
	color: var(--color-text);
	font-size: .6em;
	margin-bottom: 2em;
}

main .DLC h2 {
	margin-top: .2em;
}

main .DLC a {
	margin-top: 1em;
	margin-bottom: 5em;
	font-size: .8em;
	padding: .7em 1em .7em 2em;
}

main .featuresGame {
	background-color: var(--color-background-section-2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .featuresGame article {
	background-color: var(--color-background-section-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 2em;
	padding-right: 2em;
	margin-bottom: 2em;
}

main .featuresGame article img {
	padding-left: 2em;
	padding-right: 2em;
}

main .featuresGame article p {
	margin-top: 2em;
	line-height: 2
}
main .featuresGame article a {
	letter-spacing: unset;
	font-size: .8em;
}

main .flavorText {
	background-color: var(--color-background-section-2);
	text-align: center;
}

main .flavorText p:nth-of-type(3){
	margin-bottom: 3em;
}


main .flavorText h2 {
	font-size: 7em;
	margin: 0;
	padding-top: .2em;
	-webkit-text-stroke: .2px rgba(0, 0, 0, 0.3);
	color: transparent;
	line-height: .7;
	overflow-y: hidden;
	border: solid;
}

.seesCharacters {
	background-color: rgba(91, 164, 215, 100);
	display: flex;
	flex-direction: column;
}


.seesCharacters article {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, 2.5em);	
	max-width: 100%;
	max-height: 100%;
	margin-left: 3em;
	margin-right: 3em;
	overflow: hidden;
	margin-top: 3em;
	margin-bottom: 2em;

	
}

.seesCharacters article img {
	grid-column-start: 1;
	grid-column-end: 4;
	width: 100%;
}



.seesCharacters article h3 {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	writing-mode: vertical-lr;
	display: inline;
	grid-column: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	margin-left: .2em;
}

.seesCharacters article svg {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	writing-mode: vertical-lr;
	display: inline;
	grid-column: 4;
	grid-row-start: 3;
	margin-top: 1em;
	margin-left: .2em;
}

.seesCharacters h2 {
	font-size: 8em;
	color: var(--color-text-alt);
}

.stregaCharacters {
	background-color: rgba(147, 204, 150, 100);
	display: flex;
	flex-direction: column;
}

.stregaCharacters article h3 {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	writing-mode: vertical-lr;
	display: inline;
	grid-column: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	margin-left: .2em;
}

.stregaCharacters svg {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	writing-mode: vertical-lr;
	display: inline;
	grid-column: 4;
	grid-row-start: 3;
	margin-top: 1em;
	margin-left: .2em;
}

.stregaCharacters h2 {
	font-size: 8em;
	color: var(--color-text-alt);
}


.stregaCharacters article {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, 2.5em);	
	max-width: 100%;
	max-height: 100%;
	margin-left: 3em;
	margin-right: 3em;
	overflow: hidden;
	margin-top: 3em;
	margin-bottom: 2em;

	
}

.stregaCharacters article img {
	grid-column-start: 1;
	grid-column-end: 4;
	width: 100%;
}

footer .logosGame ul:last-of-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
	

}

footer .logosGame {
	border-top: 1px solid #dce7ed;
}



footer .logosGame ul:last-of-type img {
	margin-right: 2em;
	width: 4em;
	justify-content: center;
}

footer .logosGame p {
	padding-left: 2em;
	padding-right: 2em;
	font-family: var(--font-Urbanist);
	font-size: .5em;
	margin-bottom: 0;
}

footer .logosGame p:first-of-type {
	margin-top: 1em;
}

footer .logosGame p:last-of-type {
	margin-bottom: 2em;
}


footer .logosGame p img {
	width: 3em;
}

footer .logosGame p img:first-of-type {
	width: 1em;
}

footer .specs  { 
	display: flex;
	flex-wrap: wrap;
	margin: 0 3em 0 3em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 1em;
	margin-bottom: 2em;
}

footer .specs img:first-of-type { 
	margin: 0 auto;
	height: 4em;
	margin-bottom: 3em;
	margin-top: 3em;
	grid-column-start: 2;
	grid-column-end: 4;
}

footer .specs h3 { 
	font-family: var(--font-Syncopate);
	font-size: .6em;
}

footer .specs h3:first-of-type {
	width: 100%;
	margin-bottom: 2em;
	grid-column-start: 1;
	grid-row: 1;
	align-self: flex-end;

}

footer .specs h3:nth-of-type(2){
	grid-row: 3;
	margin-bottom: .5em;
}

footer .specs h3:nth-of-type(3){
	grid-row: 3;
	grid-column-start: 3;
}


footer .specs ul:first-of-type {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1em;
	grid-row: 2;
	grid-column-start: 1;
	grid-column-end: 5;
	margin-bottom: 1em;
}


footer .specs img:nth-of-type(2) {
	grid-row: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	width: 1em;
	align-self: center;
}

.specs img:nth-of-type(3) {
	grid-row: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: end;
	align-self: center;
	width: 1em;
}

.specs ul:nth-of-type(2) {
	grid-row: 4;
	grid-column-start: 1;
	grid-column-end: 3;
}


footer .specs li {
	font-family: var(--font-Urbanist);
	font-weight: 400;
	color: var(--color-text);
	margin-bottom: 1em;
	font-size: .5em;
}

.specs ul:nth-of-type(2) li {
	margin-bottom: .3em;
	margin-top: .2em;
}

@media (min-width:38em) {
	
	nav > img {
		display: none;
	}

	nav button {
	  display:none;
	}
	
	nav ul {
	  position:static;
	  transform: unset;
	  
	  padding:0;
	  background:none;

	  display: flex;
	  flex-direction: unset;
	  justify-content: space-between
	}
	
	nav li {
	  flex-basis:unset;
	  flex-grow:unset;
	}

	
	nav ul li:first-of-type {
	margin-top: 0em;
	}
  }
  
  
  